In [3]:
import pandas as pd
# Load your data here
df=pd.read_csv("df_lastest.csv")
df

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,0,Unknown,Referral,1,...,-20,-20,-20,-20,-20,-20,-20,0,0,0
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,Home,Other,3,...,-20,10,-20,-20,-20,-20,-20,1,1,0
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,Home,Other,2,...,-20,-20,-20,-20,-20,-20,-20,0,1,0
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,Home,Other,2,...,-20,10,-20,-20,-20,-20,-20,1,1,0
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,Home,Other,1,...,-20,0,-20,-20,-20,-20,-20,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101758,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,Facility,Other,3,...,-20,-10,-20,-20,-20,-20,-20,1,1,0
101759,443847782,74694222,AfricanAmerican,Female,[80-90),NaN,1,Facility,Transfer,5,...,-20,0,-20,-20,-20,-20,-20,0,1,0
101760,443854148,41088789,Caucasian,Male,[70-80),NaN,1,Home,Other,1,...,-20,-10,-20,-20,-20,-20,-20,1,1,0
101761,443857166,31693671,Caucasian,Female,[80-90),NaN,1,Facility,Other,10,...,-20,10,-20,-20,-20,-20,-20,1,1,0
101762,443867222,175429310,Caucasian,Male,[70-80),NaN,1,Home,Other,6,...,-20,-20,-20,-20,-20,-20,-20,0,0,0

In [5]:
def drop_identifier(df):
    """
    Interactively drop specified columns from a DataFrame.

    Parameters:
    - df (pd.DataFrame): The DataFrame from which columns will be dropped.

    Returns:
    - pd.DataFrame: A new DataFrame with specified columns removed.
    """
    # List all columns in the DataFrame and ask the user to input the column names to drop
    print("Current columns in DataFrame:", df.columns.tolist())
    columns_to_drop = input("Enter the column names to drop (separated by comma): ").split(',')
    
    # Strip spaces and handle case sensitivity if needed
    columns_to_drop = [col.strip() for col in columns_to_drop]

    # Check if the columns exist in the DataFrame
    existing_columns_to_drop = [col for col in columns_to_drop if col in df.columns]
    missing_columns = [col for col in columns_to_drop if col not in df.columns]

    if missing_columns:
        print(f"Warning: The following columns were not found in the DataFrame and will be ignored: {missing_columns}")

    # Drop the columns that exist in the DataFrame
    df = df.drop(columns=existing_columns_to_drop)
    
    print(f"The following columns were successfully dropped: {existing_columns_to_drop}")
    return df

# Example usage:
# df = drop_identifier(df)
drop_identifier(df)

Current columns in DataFrame: ['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']
Enter the column names to drop (separated by comma): encounter_id, patient_nbr
The following columns were successfully dropped: ['encounter_id', 'patient_nbr']

,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,...,tolazamide,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),NaN,0,Unknown,Referral,1,41,0,...,-20,-20,-20,-20,-20,-20,-20,0,0,0
1,Caucasian,Female,[10-20),NaN,1,Home,Other,3,59,0,...,-20,10,-20,-20,-20,-20,-20,1,1,0
2,AfricanAmerican,Female,[20-30),NaN,1,Home,Other,2,11,5,...,-20,-20,-20,-20,-20,-20,-20,0,1,0
3,Caucasian,Male,[30-40),NaN,1,Home,Other,2,44,1,...,-20,10,-20,-20,-20,-20,-20,1,1,0
4,Caucasian,Male,[40-50),NaN,1,Home,Other,1,51,0,...,-20,0,-20,-20,-20,-20,-20,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101758,AfricanAmerican,Male,[70-80),NaN,1,Facility,Other,3,51,0,...,-20,-10,-20,-20,-20,-20,-20,1,1,0
101759,AfricanAmerican,Female,[80-90),NaN,1,Facility,Transfer,5,33,3,...,-20,0,-20,-20,-20,-20,-20,0,1,0
101760,Caucasian,Male,[70-80),NaN,1,Home,Other,1,53,0,...,-20,-10,-20,-20,-20,-20,-20,1,1,0
101761,Caucasian,Female,[80-90),NaN,1,Facility,Other,10,45,2,...,-20,10,-20,-20,-20,-20,-20,1,1,0
101762,Caucasian,Male,[70-80),NaN,1,Home,Other,6,13,3,...,-20,-20,-20,-20,-20,-20,-20,0,0,0

In [6]:
#check the features with missing values and decide whether drop them or not

def drop_columns_with_missing_values(df):
    # Calculating percentage of missing values for each column
    missing_percentages = (df.isnull().sum() / len(df)) * 100
    
    # Printing columns with missing values and their percentages
    print("Columns with missing values:")
    print(missing_percentages[missing_percentages > 0])
    
    # Selecting columns to drop
    columns_to_drop = input("Enter column names to drop (separated by commas), or 'none' to keep all: ")
    
    # Dropping selected columns
    if columns_to_drop.lower() != 'none':
        columns_to_drop = [col.strip() for col in columns_to_drop.split(',')]
        df.drop(columns=columns_to_drop, inplace=True)
        print("Columns dropped successfully.")
    else:
        print("No columns were dropped.")

drop_columns_with_missing_values(df)The,

Columns with missing values:
weight    96.858387
dtype: float64
Enter column names to drop (separated by commas), or 'none' to keep all: weight
Columns dropped successfully.

In [7]:
# Choose the qusi-identifier and Data Generalisation(generalise the data through mapping)

def identify_quasi_identifiers_with_distinct_values(df):
    """
    Identifies quasi-identifiers based on user-selected columns and shows their distinct values.
    """
    # Select columns to identify as quasi-identifiers
    selected_columns = input("Enter column names to identify as quasi-identifiers (separated by commas): ").split(',')
    selected_columns = [col.strip() for col in selected_columns]
    
    # Verify that the selected columns exist in the DataFrame
    selected_columns = [col for col in selected_columns if col in df.columns]
    
    if not selected_columns:
        print("No valid columns selected.")
        return []
    
    # Loop through the selected columns to calculate the distinct values and percentages
    for column in selected_columns:
        distinct_values = df[column].value_counts()
        total_values = len(df[column])
        percentages = (distinct_values / total_values) * 100
        
        print(f"Distinct values and percentages for '{column}':")
        for value, percentage in zip(distinct_values.index, percentages):
            print(f"{value}: {percentage:.2f}%")
        print()
    
    return selected_columns

def map_values_and_output_percentages(df, selected_columns):
    """
    Maps values in the selected columns to other values based on user input,
    including the ability to map to newly created values or remap values after reviewing. Outputs updated percentages.
    """
    mapping_dict = {}

    # Allow users to remap values if needed
    continue_mapping = True
    while continue_mapping:
        for column in selected_columns:
            if column not in df.columns:
                print(f"Column '{column}' not found in the DataFrame.")
                continue

            # Initialize or clear the column mapping
            mapping_dict[column] = {}
            
            while True:
                # List available values for mapping in the current column
                distinct_values = df[column].value_counts().index.tolist()
                print(f"\nAvailable values in '{column}': {distinct_values}")
                
                # Prompt user to map values
                original_value = input(f"Enter a value from '{column}' to map, type 'new' to create a new value, or 'done' to finish: ").strip().lower()
                if original_value == 'done':
                    break
                if original_value == 'new':
                    new_value = input(f"Enter the name of the new value for column '{column}': ").strip().lower()
                    df[column] = df[column].astype(str)  # Ensure data type consistency
                    df.loc[~df[column].str.lower().isin([v.lower() for v in distinct_values]), column] = new_value
                    print(f"New value '{new_value}' has been added to available values.")
                    continue

                if original_value not in [value.lower() for value in distinct_values]:
                    print(f"'{original_value}' is not a valid value for column '{column}'. Try again.")
                    continue

                # Get the target value for mapping
                target_value = input(f"Enter the value to which '{original_value}' should be mapped, or type 'new' to create a new value: ").strip().lower()
                if target_value == 'new':
                    target_value = input(f"Enter the name of the new value to map '{original_value}' to: ").strip().lower()

                # Confirm mapping before proceeding
                confirm = input(f"Map '{original_value}' to '{target_value}'? Type 'yes' to confirm or 'no' to re-enter: ").strip().lower()
                if confirm == 'yes':
                    mapping_dict[column][original_value] = target_value
                else:
                    print("Mapping not confirmed. Please re-enter your mappings.")

            # Apply the mapping to the DataFrame
            df[column] = df[column].apply(lambda x: mapping_dict[column].get(x.lower(), x))

        # Output the updated percentages for each column
        print("\nUpdated distinct values and percentages for all mapped columns:")
        for column in selected_columns:
            updated_value_counts = df[column].value_counts()
            total_values = len(df[column])
            updated_percentages = (updated_value_counts / total_values) * 100
            print(f"{column}:")
            for value, percentage in zip(updated_value_counts.index, updated_percentages):
                print(f"{value}: {percentage:.2f}%")
        
        # Ask if the user wants to continue mapping
        continue_mapping = input("\nDo you want to remap any columns? Type 'yes' to continue or 'no' to finish: ").strip().lower() == 'yes'


selected_columns = identify_quasi_identifiers_with_distinct_values(df)

# Perform mapping actions and output the updated percentages
if selected_columns:
    map_values_and_output_percentages(df, selected_columns)

Enter column names to identify as quasi-identifiers (separated by commas): age,race,gender
Distinct values and percentages for 'age':
[70-80): 25.61%
[60-70): 22.09%
[50-60): 16.96%
[80-90): 16.90%
[40-50): 9.52%
[30-40): 3.71%
[90-100): 2.74%
[20-30): 1.63%
[10-20): 0.68%
[0-10): 0.16%

Distinct values and percentages for 'race':
Caucasian: 74.78%
AfricanAmerican: 18.88%
Other: 3.71%
Hispanic: 2.00%
Asian: 0.63%

Distinct values and percentages for 'gender':
Female: 53.76%
Male: 46.24%


Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[30-40)', '[90-100)', '[20-30)', '[10-20)', '[0-10)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [0-10)
Enter the value to which '[0-10)' should be mapped, or type 'new' to create a new value: [0-40)
Map '[0-10)' to '[0-40)'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[30-40)', '[90-100)', '[20-30)', '[10-20)', '[0-10)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [10-20)
Enter the value to which '[10-20)' should be mapped, or type 'new' to create a new value: [0-40)
Map '[10-20)' to '[0-40)'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[30-40)', '[90-100)', '[20-30)', '[10-20)', '[0-10)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [20-30)
Enter the value to which '[20-30)' should be mapped, or type 'new' to create a new value: [0-40)
Map '[20-30)' to '[0-40)'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[30-40)', '[90-100)', '[20-30)', '[10-20)', '[0-10)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [30-40)
Enter the value to which '[30-40)' should be mapped, or type 'new' to create a new value: [0-40)
Map '[30-40)' to '[0-40)'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[30-40)', '[90-100)', '[20-30)', '[10-20)', '[0-10)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'Other', 'Hispanic', 'Asian']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: Hispanic
Enter the value to which 'hispanic' should be mapped, or type 'new' to create a new value: Other
Map 'hispanic' to 'other'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'Other', 'Hispanic', 'Asian']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: Asian
Enter the value to which 'asian' should be mapped, or type 'new' to create a new value: Other
Map 'asian' to 'other'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'Other', 'Hispanic', 'Asian']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'gender': ['Female', 'Male']
Enter a value from 'gender' to map, type 'new' to create a new value, or 'done' to finish: done

Updated distinct values and percentages for all mapped columns:
age:
[70-80): 25.61%
[60-70): 22.09%
[50-60): 16.96%
[80-90): 16.90%
[40-50): 9.52%
[0-40): 6.18%
[90-100): 2.74%
race:
Caucasian: 74.78%
AfricanAmerican: 18.88%
Other: 3.71%
other: 2.63%
gender:
Female: 53.76%
Male: 46.24%

Do you want to remap any columns? Type 'yes' to continue or 'no' to finish: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[0-40)', '[90-100)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: 80-90)
'80-90)' is not a valid value for column 'age'. Try again.

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[0-40)', '[90-100)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'Other', 'other']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: other
Enter the value to which 'other' should be mapped, or type 'new' to create a new value: Other
Map 'other' to 'other'? Type 'yes' to confirm or 'no' to re-enter: yes

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'Other', 'other']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'gender': ['Female', 'Male']
Enter a value from 'gender' to map, type 'new' to create a new value, or 'done' to finish: done

Updated distinct values and percentages for all mapped columns:
age:
[70-80): 25.61%
[60-70): 22.09%
[50-60): 16.96%
[80-90): 16.90%
[40-50): 9.52%
[0-40): 6.18%
[90-100): 2.74%
race:
Caucasian: 74.78%
AfricanAmerican: 18.88%
other: 6.34%
gender:
Female: 53.76%
Male: 46.24%

Do you want to remap any columns? Type 'yes' to continue or 'no' to finish: yes

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[0-40)', '[90-100)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [80-90)
Enter the value to which '[80-90)' should be mapped, or type 'new' to create a new value: [80-100)
Map '[80-90)' to '[80-100)'? Type 'yes' to confirm or 'no' to re-enter: [90-100)
Mapping not confirmed. Please re-enter your mappings.

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[0-40)', '[90-100)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: [80-100)
'[80-100)' is not a valid value for column 'age'. Try again.

Available values in 'age': ['[70-80)', '[60-70)', '[50-60)', '[80-90)', '[40-50)', '[0-40)', '[90-100)']
Enter a value from 'age' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'race': ['Caucasian', 'AfricanAmerican', 'other']
Enter a value from 'race' to map, type 'new' to create a new value, or 'done' to finish: done

Available values in 'gender': ['Female', 'Male']
Enter a value from 'gender' to map, type 'new' to create a new value, or 'done' to finish: done

Updated distinct values and percentages for all mapped columns:
age:
[70-80): 25.61%
[60-70): 22.09%
[50-60): 16.96%
[80-90): 16.90%
[40-50): 9.52%
[0-40): 6.18%
[90-100): 2.74%
race:
Caucasian: 74.78%
AfricanAmerican: 18.88%
other: 6.34%
gender:
Female: 53.76%
Male: 46.24%

Do you want to remap any columns? Type 'yes' to continue or 'no' to finish: no

In [8]:

output_path = "processed_data.csv"


df.to_csv(output_path, index=False)